# Week 4: 課題

## 課題

下記の準備を読み，問題に答えなさい。

### 提出方法

MS Teams の対応する課題に ipynb ファイルを添付して提出する。  

- 提出前に Kernel > Restart Kernel and Run All Cells... を実行して，エラーが生じないことを確認してください。

### 締切

2020/6/3

## 準備

`Data/week04.csv` (<https://git.io/Jfok1>) は内閣府の国民経済計算から取得したデータである。

In [1]:
import numpy as np
import pandas as pd

frame = pd.read_csv('https://git.io/Jfok1', index_col='year')
frame.head()

             C        I         G       EX       IM
year
1994  245683.7  85579.0  116168.0  34762.1 -45368.4
1995  251970.1  91898.7  121375.1  36215.3 -51890.3
1996  258151.7  98453.7  122091.8  38556.4 -56313.6
1997  255781.6  98030.6  119923.9  41992.1 -55113.0
1998  256657.7  89979.1  121866.0  40405.5 -51513.9

ただし，IM は負値に変換している。したがって，国内総生産は次の式で計算できる。

$$
Y = C + I + G + EX + IM
$$

上では Pandas というデータ分析用のライブラリを用いているが，テキストに合わせるために NumPy の行列に変換しておこう。（Pandas については回を改めて解説する）

In [2]:
expenditure = frame.to_numpy()
expenditure

array([[245683.7,  85579. , 116168. ,  34762.1, -45368.4],
       [251970.1,  91898.7, 121375.1,  36215.3, -51890.3],
       [258151.7,  98453.7, 122091.8,  38556.4, -56313.6],
       [255781.6,  98030.6, 119923.9,  41992.1, -55113. ],
       [256657.7,  89979.1, 121866. ,  40405.5, -51513.9],
       [260435.7,  86547.5, 124593. ,  42841. , -54897.2],
       [263971.8,  94429.3, 124474.9,  46914.1, -60396.4],
       [268881.1,  88488.4, 125301.6,  43300.2, -58423.7],
       [271953.3,  85804. , 125357.3,  48532.8, -61189. ],
       [273850.1,  90087.9, 124308.7,  53334. , -62616.3],
       [277097. ,  94222.5, 122703.4,  59578.1, -68091.6],
       [281427. ,  98843.6, 120682.3,  65228.8, -72284.2],
       [283493.6, 101282.1, 119148.2,  70896.2, -74872.7],
       [285850.5,  98892.8, 119361.3,  77607.2, -76698.5],
       [280054.7,  94203.7, 117674. ,  69656.4, -73338. ],
       [282488.5,  74894.8, 122576.4,  63394. , -65525.8],
       [286647. ,  82673.7, 122632.8,  74749.1, -73434.9],
       [288796.6,  86205.9, 123964.5,  73571.2, -77247. ],
       [293396.6,  88048.2, 125592.2,  72387.6, -80155.7],
       [301514.2,  91947.2, 129472.2,  75583.3, -85867.1],
       [293681.2,  94846.8, 129404.4,  82192.2, -89506.8],
       [295660.9,  97503.6, 130884.5,  82869.2, -89904.2],
       [295533.7,  97508.6, 131701.3,  85891.5, -89101.2],
       [298875.3, 101559.2, 132328.7,  91433.1, -92616.5],
       [299046.8, 102275.3, 133394.6,  92873. , -94618.3]])

## 問題

`expenditure` 行列に対して，各列（C, I, G, EX, IM） の寄与度を計算する Python コードを書きなさい。結果は，shape が `(25, 5)` であり，かつ，1行目が `np.nan` であるような NumPy の行列になる。

[解答]

In [ ]:
# 1. まず，このセルを実行してください。

import numpy as np
import pandas as pd

frame = pd.read_csv('https://git.io/Jfok1', index_col='year')
frame.head()

expenditure = frame.to_numpy()

In [ ]:
# 2. 計算コードはここに書いてください。必要に応じてセルを追加して構いません。
#    結果は contribution という名前にしてください。

In [ ]:
# 3. 最後にこのセルを実行してください。

result = pd.DataFrame(contribution, index=frame.index, columns=frame.columns)
result = result * 100
result